@charset "UTF-8";

/* 
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(205, 240, 210);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
   color: rgb(8, 49, 14); 
}

h1#principal {
    text-align: center;
    background-color: rgb(8, 49, 14);
    color: white;
}

h2 {
    color: rgb(61, 122, 70);
}

.basico {
    color: rgb(61, 122, 70);
    font-weight: bold;
}

.intermediario {
    color: rgb(167, 154, 43);
}

.avancado {
    color: rgb(230, 17, 17);
}

.destaque {
    background-color: rgba(197, 197, 96, 0.438);
}